.paragraph--empty-state-one {
    font-family: Lexend-SemiBold;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    color: #1D2734;
}

.paragraph--empty-state-two {
    margin: 0;
    font-family: Lexend-Light;
    font-size: 12px;
    line-height: 19px;
    color: #1D2734;
}