.productImage {
    width: 145.19px !important;
    height: 120.99px !important;
    border: 0.95px solid rgba(231, 231, 231, 1);
    border-radius: 3.78px;
}

.productBrandName{
    display: none;
}

.productVariationsItem {
    display: none;
}

.inputContainer {
    width: 61.44px;
    height: 43.48px;
    font-family: "Lexend-Regular";
    font-size: 13.23px;
}

.quantitySelectorDecrease {
    width: 37.81px;
    height: 43.48px;
    background-color: #1D2734;
}

.quantitySelectorIncrease {
    width: 37.81px;
    height: 43.48px;
    background-color: #1D2734;
}

.productName {
    font-size: 11.34px;
    font-family: "Lexend-Light";
    color: rgba(29, 39, 52, 1);
    display: block;
    height: 50px;
    overflow: hidden;
    font-weight: 300;
}

.productPriceCurrency {
    font-size: 11.34px;
    font-family: "Lexend-Regular";
    color: rgba(29, 39, 52, 0.4);
}

.price {
    font-size: 15.12px;
    font-family: "Lexend-SemiBold";
    color: rgba(29, 39, 52, 1);
}

.productImageContainer {
    width: 145.19px !important;
    height: 120.99px !important;
}

.deleteIcon {
    height: 19px;
}