.flexRow,
:global(.vtex-minicart-2-x-drawer),
:global(.vtex-store__template),
:global(.vtex-store-drawer-0-x-drawer),
:global(.vtex-minicart-2-x-portalContainer) {
  --emphasis: #df0209;
  --action-primary: #ff9700;
  --color-TC-cencosud: #e88613;
  --color-TC-codensa: #358fd4;
  --color-TC-aval: #1234b5;
  --color-TC-itau: #100c73;
  --action-secondary: #ff9700;
  --muted-1: #1a1a1a;
  --muted-1-5: #2f2f2f;
  --muted-1-8: #6b6b6b;
  --muted-2: #afafaf;
  --muted-3: #cacbcc;
  --muted-4: #e3e4e6;
  --muted-5: #f2f4f5;
  --white: #fff;
  --yellowMetro: #ffed00;
  --greenTelefonos: #289e36;
  --greenOfertas: #7ac537;
  --puntosCenco: #843a8d;
  --titlesValores-page: #c47373;
  --ParrafosValores-page: #525252;
}
