.paragraph--tendencias--itg {
    font-family: "Lexend-SemiBold";
    font-size: 40px;
    margin: 0;
    color: #1D2734;
    text-transform: uppercase;
}

.container--tendencias--itg {
    justify-content: center;
}

.wrapper--tendencias--itg {
    height: 70px;
    margin-top: 16px;
    margin-bottom: 16px;
}


@media screen and (min-width: 350px  ) and (max-width:640px){
    .paragraph--tendencias--itg {
        font-size: 20px  
    }
    
}