.logoImage--global--logo {
    width: 32px;
    height: 16px;
}

.logoContainer--global--logo{
    padding: 0;
    min-width: 0;
    width: 32px;
}

.searchBarInnerContainer--search--bar :global(.vtex-input-prefix__group){
    border-radius: 40px;
    border: 0px;
    height: 40px;
    
}

.searchBarInnerContainer--search--bar :global(.vtex-styleguide-9-x-input) {
    font-family: Lexend-Light;
    color: black;
}