.link--menu__header__one {
    font-size: 12px;
    font-family: "Lexend-Regular";
    text-decoration: none;
    color: rgba(29, 39, 52, 1);
}

.link--menu__header__two {
    font-size: 12px;
    font-family: "Lexend-Regular";
    text-decoration: none;
    color: rgba(29, 39, 52, 1);
}

.link--menu__header__three {
    font-size: 12px;
    font-family: "Lexend-Regular";
    text-decoration: none;
    color: rgba(29, 39, 52, 1);
}

.link--menu__header__four {
    font-size: 12px;
    font-family: "Lexend-Regular";
    text-decoration: none;
    color: rgba(29, 39, 52, 1);
}

.link--menu__header__five {
    font-size: 12px;
    font-family: "Lexend-Regular";
    text-decoration: none;
    color: rgba(29, 39, 52, 1);
}