.label {
    padding: 0;
    text-transform: initial;
    color: white;
    font-family: Lexend-Light;
    font-size: 14px;
}

.container {
    background-color: #1D2734;
    width: 80px;
    height: 40px;
    border-radius: 40px;
    border: 1px;
}