.flexRowContent--listbtn-pricesaving :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 87px;
    align-items: center;
}

.flexRow--listbtn-pricesaving {
    padding-bottom: 12px;
}

.flexRowContent--listbtn-pricesaving :global(.vtex-product-price-1-x-savings) {
    height: 32px;
    width: 84px;
}

.flexRowContent--product--summary__list :global(.vtex-button) {
   background-color: white;
   border: 1px solid #1D2734;
   border-radius: 8px;
}