.productHighlightWrapper {
    font-family     : Lexend-Regular;
    font-size       : 14px;
    font-weight     : 400;
    line-height     : 16.8px;
    color           : #FA2080;
    text-align: left;
    margin-bottom: 12px;
}

.productHighlightText--free_delivery {
    padding-right: 4px;
}