.buttonText--summary-button {
    text-transform : initial;
    justify-content: center;
    align-items    : center;
    font-family    : "Lexend-Regular";
    font-size      : 14px;
    display        : flex;
    color          : black;
}

.buttonText--summary-button::before {
    content      : url(/arquivos/buy--button--car.svg);
    width        : 20px;
    height       : 20px;
    padding-right: 13px;
}