:global(.vtex-slider-layout-0-x-paginationDot--isActive~.vtex-slider-layout-0-x-paginationDot::after) {
    width: 44px;
    height: 2px;
    content: "";
    font-size: 0;
    background-color: rgba(29, 39, 52, .4);
    position: absolute;
}