.flexRowContent--product-main {
    margin-bottom: 40px;
    padding      : 0;
}

.flexRow--product-main :global(.vtex-store-components-3-x-container) {
    padding: 0 72px 0 80px;
}

@media screen and (min-width: 360px) and (max-width: 640px) {
    .flexRow--product-main :global(.vtex-store-components-3-x-container) {
        padding: 0 17px 0 17px;
    }

    .flexRowContent--quantity-buy {
        display: flex;
    }
}

.flexRow--quantity-buy :global(.vtex-button) {
    background-color: #492A77;
    border          : 0;
}

.flexCol--right-col {
    max-width: 481px;
}

.flexRowContent--quantity-buy .stretchChildrenWidth:last-child {
    width: 100% !important;
}

.flexRowContent--quantity-buy .stretchChildrenWidth {
    padding: 0;
}

.flexRowContent--quantity-buy {
    gap: 16px
}


.flexRowContent--price--row--pdp {
    margin-top   : 16px;
    margin-bottom: 24px;
}

.flexRowContent--price--row--pdp :global(.vtex-store-components-3-x-priceContainer) {
    display          : grid;
    grid-auto-columns: max-content;
}

.flexRowContent--price--row--pdp :global(.vtex-store-components-3-x-price_listPriceContainer) {
    grid-column: 2;
    grid-row   : 1;
    align-items: center;
    display    : flex;
}


.flexRowContent--price--row--pdp :global(.vtex-store-components-3-x-price_sellingPriceContainer) {
    grid-column: 1;
    width      : fit-content;
    font-size  : 24px;
}

.flexRowContent--highlights--row :global(.vtex-product-highlights-2-x-productHighlightText) {
    width         : fit-content;
    font-size     : 14px;
    font-family   : 'Lexend-Regular';
    padding-top   : 6px;
    padding-bottom: 6px;
    padding-left  : 12px;
    padding-right : 12px;
}

.flexRowContent--highlights--row .stretchChildrenWidth {
    width  : auto !important;
    padding: 0;
}

.flexRowContent--highlights--row {
    display        : flex;
    justify-content: unset;
}

.flexRowContent--global__specifications .stretchChildrenWidth {
    flex-direction: column;
}


@media screen and (min-width: 360px) and (max-width: 640px) {

    .flexRow--global__specifications :global(.vtex-store-components-3-x-container) {
        padding: 0;
    }
}