.swiperCaret {
    display: none;
}

.swiper-pagination {
    display: none;
}

.carouselThumbBorder {
    width: 90px;
    height: 76px;
    border: 1px solid;
    border-radius: 4px;
    border-color: #E7E7E7;
}

.thumbImg {
    width: 90px;
    height: 76px;
}

@media screen and (min-width: 1024px ){
    .productImage {
        width: 515px;
        height: 650px;
    }
}


.productImage {

    border: 1px solid;
    border-radius: 4px;
    border-color: #E7E7E7;
}

.productBrand {
    font-size: 16px;
    font-family: "Lexend-Light";
}

.listPrice {
    font-size: 14px;
    font-family: "Lexend-Regular";
}

.listPriceLabel {
    font-size: 14px;
    font-family: "Lexend-Regular";
}

.price_listPriceLabel {
    display: none;
}

.sellingPrice {
    font-size: 24px;
    font-family: "Lexend-SemiBold";
    padding-right: 0;
}

.sellingPriceLabel {
    font-size: 0px;
}

.sellingPriceLabel::before {
    content: "Now";
    font-size: 24px;
    font-family: "Lexend-SemiBold";
}


.skuSelectorInternalBox {
    width: 108.07px;
    height: 40px;
    border-radius: 4px;
}

.frameAround {
    border-color: #1D2734;
}

.valueWrapper {
    font-size: 14px;
    font-family: "Lexend-Light";
}

.skuSelectorContainer{
    display: grid;
    grid-auto-rows: auto;
}

.skuSelectorSubcontainer--color {
    grid-row: 2;
}

.carouselGaleryThumbs{
    display: block;
}

.shareLabel {
    margin-top: 16px;
    font-family: Lexend-SemiBold;
    font-size: 0px;
    line-height: 16px;
    color: #1D2734;
}

.shareLabel::before {
    content: "Share";
    font-size: 16px;
}

.skuSelectorName {
    font-family: Lexend-SemiBold;
    font-size: 16px;
    line-height: 16.8px;
    color: #1D2734;
}



@media screen and (min-width: 1204px ){

}