:global(.vtex-product-specifications-1-x-specificationValue--last) :global(ul){
    list-style: none;
    font-size: 14px;
    font-family: "Lexend-Light";
    padding-left: 72px;
    margin: 16px 0;
    color: #1D2734;
    
}

:global(.vtex-product-specifications-1-x-specificationValue--last) :global(ul) :global(li):nth-child(odd) {
    background-color: #E7E7E7;
    width: 1069px;
    height: 48px;
    align-items: center;
    display: flex;
    padding-left: 24px;
}

:global(.vtex-product-specifications-1-x-specificationValue--last) :global(ul) :global(li):nth-child(even) {
    background-color: #FFFFFF;
    width: 1069px;
    height: 48px;
    align-items: center;
    display: flex;
    padding-left: 24px;
}

@media screen and (min-width: 360px) and (max-width: 640px) {
    :global(.vtex-product-specifications-1-x-specificationValue--last) :global(ul) :global(li):nth-child(odd) {
        width: 328px;
    }

    :global(.vtex-product-specifications-1-x-specificationValue--last) :global(ul) :global(li):nth-child(even) {
        width: 328px;
    }

    :global(.vtex-product-specifications-1-x-specificationValue--last) :global(ul) {
        padding: 0 17px 0 17px;
    }
}

:global(.vtex-numeric-stepper__plus-button ) {
    height: 46px !important;
    width: 40px !important;
    background-color: #1D2734;
    border-radius: 4px, 0px, 0px, 4px;
}

:global(.vtex-numeric-stepper__minus-button ) {
    height: 46px !important;
    width: 40px !important;
    background-color: #1D2734;
    border-radius: 4px, 0px, 0px, 4px;
}

:global(.vtex-numeric-stepper__plus-button__text) {
    color: #fff;
    font-size: 12px;
}

:global(.vtex-numeric-stepper__minus-button__text) {
    color: #fff;
    font-size: 12px;
}