.submenuContainer{
    background-color:#FFE6D3;
}

.submenuContainerTitle{
    display: none;
}

.styledLinkText{
    font-family: Lexend-SemiBold;
    font-size: 14px;
    line-height: 17px;
}

.styledLinkText--mega__menu--desktop{
    font-family: Lexend-Light;
    font-size: 14px;
    line-height: 15px;
}

.seeAllLinkContainer{
    display: none;
}

.caretIcon--mega__menu--desktop{
    display: none;
}