.flexRowContent--product-summary-plp {
    display: flex;
}

.flexColChild--name-price-plp :global(.vtex-product-summary-2-x-nameContainer) {
    padding: 0;
    justify-content: unset;
}

.flexColChild--name-price-plp :global(.vtex-product-summary-2-x-priceContainer) {
    padding: 0;

}

.flexColChild--name-price-plp :global(.vtex-rich-text-0-x-paragraph--free--shiping__text) {
    margin: 0;
}

.flexCol--name-price-plp {
    padding-left: 9px;
    text-align: left;
    height: 97px;
}


.flexCol--image-plp :global(.vtex-product-summary-2-x-imageContainer) {
    width: 135px;
    height: 106.3px;
}

.flexCol--image-plp :global(.vtex-product-summary-2-x-imageNormal) {
    width: 135px;
    height: 106.3px;
}

.flexColChild--name-price-plp :global(.vtex-product-price-1-x-sellingPrice) {
    font-size: 20px;
    line-height: 20px;
}

.flexColChild--name-price-plp :global(.vtex-rich-text-0-x-container--free--shiping__text) {
    height: 21px;
}

.flexCol--name-price-plp :global(.vtex-product-summary-2-x-brandName--name-plp) {
    font-family: Lexend-Regular;
    line-height: 12px;
    font-size: 12px;
    color: rgba(29, 39, 52, 0.6);
    
}

.flexCol--name-price-plp :global(.vtex-product-summary-2-x-nameWrapper--name-plp) {
    height: 39px;
    text-overflow: ellipsis;
}

.flexRowContent--search-title-phone {
    padding-top: 16px;
}

.flexRow--search-info-mobile {
    padding-bottom: 16px;
}