.filterItem {
    font-size: 12px;
    font-family: "Lexend-Light";
    padding: 10px;
    padding-left: 20px;
}

.buttonShowMore {
    padding: 0 !important;
}

.galleryTitle--layout {
    font-size: 20px;
    font-family: "Lexend-SemiBold";
    margin: 0 0 16px 0;
    padding-left: 52px;
}

@media screen and (min-width: 360px) and (max-width: 640px) {
    .galleryTitle--layout {
        font-size: 14px;
    }
}

.totalProducts--layout {
    margin-left: 52px;
    text-align: left;
    padding: 0 0 40px 0;
    font-size: 14px;
    font-family: "Lexend-Light";
    text-transform: lowercase;
    color: #1D2734;
}

.totalProductsMessage {
    color: #1D2734;
}

.filterAvailable {
    width: 184px;
    height: 36px;
    border: 1px solid black;
    border-radius: 40px;
    padding: 8px 16px;
    background-color: #1D27341A;
}

.filterTitleSpan {
    font-family: "Lexend-Regular";
    font-size: 14px;
    padding-bottom: 10px;
    
}

.filter__container--selectedFilters {
    display: none;
}

.filter__container--brand {
    display: none;
}

.filters--layout {
    width: 184px;
}

.filter__container--title {
    display: none;
}

.orderBy--layout {
    padding-right: 16px;
}

.filter__container {
    padding-bottom: 5px;
}

.galleryItem--grid {
    flex-basis: unset !important;
    padding-top: 0;

}

.filterPopupTitle {
    display: inline-flex;
    align-items: center;
    text-align: center;
    font-size: 0px;
    font-family: "Lexend-Regular";
    text-transform: initial;
}

.orderByButton :global(.vtex-search-result-3-x-filterPopupTitle) {
    padding-bottom: 6px;
}

.filterPopupArrowIcon :global(.vtex-search-result-3-x-caretIcon) {
    display: block;
    width: 12px;
    height: 12px;
    padding-left: 5.5px;
}

.filterPopupArrowIcon {
    padding-left: 0;
    padding-right: 0px;
}

.filterPopupTitle::before {
    content: url(/arquivos/oder--by.svg);
    padding-right: 5.5px;
}

.orderByButton {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    height: 40px;
    width: 147px;
    padding-bottom: 6px;
    border-radius: 40px;
    background-color: rgba(231, 231, 231, 1);
    border: 1px solid black;
}

.filter__container--priceRange :global(.vtex-slider__selector) {
    background-color: black;
}

.filter__container--priceRange :global(.vtex-slider__base-internal) {
    background-color: black;
}

.filter__container--priceRange :global(.vtex-slider__values-container) {
    justify-content: center;
}

.filter__container :global(.vtex-checkbox__box-wrapper) {
    border: 1px solid #1D2734;
    border-radius: 3px;
}

.filter__container :global(.vtex-checkbox__label) {
    color: rgba(29, 39, 52, 1);
}

@media screen and (min-width: 360px) and (max-width: 640px) {
    .totalProducts--layout {
        display: none;
    }
}

.buttonShowMore {
    padding-top: 40.7px;
}

.buttonShowMore :global(.vtex-button) {
    border-color: #1D2734;
    border-radius: 40px;
    background-color: #1D2734;
    text-transform: initial;
    text-align: center;
    width: 150px;
}

.buttonShowMore :global(.vtex-button) :global(.vtex-button__label){
    font-size: 14px;
    font-family: "Lexend-Regular";
}

.buttonShowMore :global(.vtex-button)::after {
    content: url(/arquivos/mpa-plus--line.svg);
    padding-right: 10px;
}

.orderByText {
    content: "Ordenar por"; 
    color: #1D2734;
    width: 72px;
    font-size: 12px;
    font-family: "Lexend-Regular";
    text-transform: initial;
}

.filtersWrapperMobile :global(.vtex-search-result-3-x-filterPopupTitle) {
    font-size: 0;
}

.filtersWrapperMobile :global(.vtex-search-result-3-x-filterPopupTitle)::after{
    content: "Filtros";
    font-size: 12px;
}

.filtersWrapperMobile :global(.vtex-search-result-3-x-filterPopupTitle)::before{
    content: url("/arquivos/filter--by.svg");
    padding-right: 5.5px;
}

.orderByButton .vtex-search-result-3-x-filterPopupTitle {
    padding-bottom: 6px;
}

.filterPopupButton {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    height: 40px;
    width: 110px;
    border-radius: 40px;
    background-color: rgba(231, 231, 231, 1);
    border: 1px solid black;
}

@media screen and (min-width: 360px  ) and (max-width:640px){
    .galleryTitle--layout {
        padding-left: 16px;
    }

    .filters {
        height: 42px;
    }

    .filtersWrapperMobile {
        width: 110px;
    }

    .galleryItem--grid {
        padding-top: 12px;
    }
}