/* .image--summary-image {
    width: 135px !important;
    height: 106px !important;
} */

/* .price_installmentContainer {
    display: none;
}

.price_sellingPrice {
    font-size: 20px;
    padding: 0;
}

.brandName--name-plp {
    font-size: 12px;
} */

/* .nameContainer {
    width: 149px;
    padding: 0;
}

.priceContainer {
    padding: 0;
}

.price_sellingPriceContainer {
    padding: 0;
}  */

/* .containerNormal--product-summary-plp {
    width: 100% !important;
} */

.containerNormal--product-summary-plp {
    display: flex;
    max-width: 300px;
    width: 290px !important;
}
