.filterItem {
    font-size: 12px;
    font-family: "Lexend-Light";
    padding: 10px;
}


.galleryTitle--layout {
    font-size: 20px;
    font-family: "Lexend-SemiBold";
    margin: 0 0 16px 0;
}

.totalProducts--layout {
    text-align: left;
    padding: 0 0 40px 0;
    font-size: 14px;
    font-family: "Lexend-Light";
    text-transform: lowercase;
    color: #1D2734;
}

.totalProductsMessage {
    color: #1D2734;
}

.filterIsOpen {
    width: 184px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 40px;
    padding: 8px 16px;
    background-color: #1D27341A;
}

.filterAvailable {
    width: 184px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 40px;
    padding: 8px 16px;
    background-color: #1D27341A;
}

.filterTitleSpan {
    font-family: "Lexend-Regular";
    font-size: 14px;
}

.filter__container--selectedFilters {
    display: none;
}

.filter__container--brand {
    display: none;
}

.filters--layout {
    width: 184px;
}

.filter__container--title {
    display: none;
}

.filter__container {
    padding-bottom: 5px;
}

.galleryItem--grid {
    flex-basis: unset !important;
    padding: 0;
}


.vtex-search-result-3-x-filter__container--priceRange :global(.vtex-slider__selector) {
    background-color: black;
}


@media screen and (min-width: 360px) and (max-width: 640px) {
    .totalProducts--layout {
        display: none;
    }


}


@media screen and (min-width: 1024px){
    .searchResultContainer {
        padding-left: 52px;
    }


}