.trigger--header__overlay--mobile {
    height: 16px;
}

.container--header__overlayout {
    padding-top: 0;
    padding-bottom: 0;
}

.trigger--header__overlay--mobile {
    width: 16px;
}

.container--header__overlayout :global(.vtex-input-prefix__group) {
    align-items: center;
}